@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0D192C;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 350px;
    padding: 24px 24px 32px;
    background: #15263F;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.0952917);
    border-radius: 15px;
}

.card-img {
    width: 100%;
    border-radius: 8px;
}


.title {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
    padding-bottom: 24px;
    margin-top: 24px;
}

.text {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    color: #8BACD9;
    padding-bottom: 24px;
}


.price-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #2E405A;
    padding-bottom: 16px;
}

.left, .right {
    display: flex;
    align-items: center;

}


.left {
    gap: 6.48px;
}


.right {
    gap: 7.7px;
}


.left-text {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #00FFF8;
}

.right-text {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #8BACD9;
}

.user {
    margin-top: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.avatar {
    width: 33px;
    height: 33px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
}

.user-info {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #8BACD9;
}

.username {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

